package main 

{{with .Endpoints}}
    {{range .}}
        http.HandleFunc("{{.Path}}", func(w http.ResponseWriter, r *http.Request) {
	        fmt.Fprintf(w, "Hello, %q", html.EscapeString(r.URL.Path))
        })
    {{end}}
{{end}}

log.Fatal(http.ListenAndServe("{{.Port}}", nil))